.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    height: 50px;
    width: 50px;
    object-fit: contain;
    padding: 15px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0px;
}

.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}

.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span{
   font-size: 16px;
   display: block;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}

@media (max-width:500px) {
    .weather{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        justify-content: space-between;

    }
    .search-bar{
        width: 100%;
    }
    .search-bar input{
        width: 100%;
        padding-left: 20px;
    }
}

@media (max-width:375px) {
    .weather{
        padding: 40px 20px;
    }
    .search-bar{
        gap: 10px;
    }

    .weather-data{
        padding: 10px;
       gap: 10px;
       
    }

    .weather-data .col{
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 22px;
    }
}